*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0f0;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
/*icone tag*/
i{
    cursor: pointer;
    
}
img{
    cursor: pointer;
}
.flex-box{
    display: flex;
    align-items: center; 
}

/* ------------------------Primeira parte : cabeçalho--------------- */
header{
    background: #fff;
    height: 60px;
    padding:10px 2%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}
.left-part .fas{
    font-size: 24px;
    margin-right: 30px;
}
.left-part .fab{
    font-size: 24px;
    color: red;
}
.left-part span{
    color: black;
    font-weight: 600;
    margin-left: 4px;
}
.center-part .search-bar{
    border: 1px solid #d4d4d4;
    margin-right: 20px;
    width: 500px;
    height: 35px;
    border-radius: 2px;
    outline: none;
}
.center-part .search-bar input{
    width: 85%;
    height: 100%;
    border: 0 solid #d4d4d4;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 10px;
    outline: none;
}
.center-part .search-bar .search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 0 solid #d4d4d4;
    font-size: 20px;
    outline: none;
    flex-wrap: nowrap;
}
.center-part .mic-icon{
    font-size: 20px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 50%;
}
.right-part i{
    font-size: 24px;
    margin-right: 24px;
}
/* ------------------------Segunda parte : Barra lateral--------------- */
.side-bar{
    height: 100vh;
    width: 15%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 80px;
    padding-top: 0;
    white-space: nowrap;
    overflow-y: scroll;
}

.side-bar .menu-item{
    padding: 8px;
    margin: 1%;
}
.side-bar i{
    font-size: 22px;
    width: 40px;
    padding: 10px;
}

.side-bar .menu-item:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}
hr{
    border: 0;
    border-bottom: 1px solid #d4d4d4;
    margin: 15px 0;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-origin: #bbbbbb;
    border-radius: 10px;
}
.resize-sidebar{
    width: 5%;
}
/* -- ---------------------Terceira parte : Conteúdo da página----------------------- */

.videos-container{
    padding-left: 16%;
    padding-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.all-videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    margin-top: 10px;
}
.single-video .thumb{
    width: 100%;
    border-radius: 2%;
}
.single-video .flex-box img{
    border-radius: 50%;
    width: 35px;
    margin-right: 10px;
    margin-left: 5px;
}
.single-video .flex-box{
    align-items: flex-start;
    margin-top: 5px;
}
.video-details{
    font-size: 14px;
    color: #6a6a6a;
}
.video-details a{
    font-weight: 600;
    display: block;
}
.widen-videos-container{
   padding-left: 6%; 
}
  /* ------------------------------- Página de vídeo ----------------------------------- */
  .for-video-page{
    padding: 1% 1%;
}
.two-parts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.running-video{
    flex-basis: 66%;
}
.suggested-videos{
    flex-basis: 32%;
}
.running-video video{
    width: 100%;
}
.running-video .video-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.video-information p{
    color: #6a6a6a;
}
.running-video .video-information i{
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}
.running-video .video-information span{
    padding: 2px;
    font-size: 18px;
}
.youtuber{
    display: flex;
    align-items: center;
}
.youtuber img{
    border-radius: 50%;
    width: 45px;
    margin-right: 12px;
}
.youtuber p{
    font-size: 18px;
    font-weight: 600;
}
.youtuber span{
    color: #6a6a6a;
}
.youtuber div{
    flex: 0.98;
}
.youtuber button{
    outline: 0;
    border: 0;
    color: white;
    background: red;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
.video-description{
    margin: 10px 0;
    padding-left: 60px;
    line-height: 25px;
}
.video-comments{
    padding-left: 2%;
}
.video-comments span{
    padding: 5px;
    font-size: 17px;
    font-weight: 600px;
}
.add-comments{
    display: flex;
    align-items: center;
    margin: 36px 5px;
}
.add-comments img{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.add-comments input{
    width: 100%;
    background: none;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid;
    border-color: #d4d4d4;
}
.other-comments{
    display: flex;
    align-items: center;
    padding: 5px;
}
.other-comments h3{
    font-size: 15px;
    font-weight: 600;
}
.other-comments h3 span{
    font-weight: 500;
    font-size: 15px;
    color: #6a6a6a;
}
.other-comments p{
    font-size: 15px;
    padding-top: 5px;
    margin-right: 22px;
}
.other-comments img{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.react-to-comments{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 10px 0;
}
.react-to-comments i{
    padding: 0 10px;
}
.react-to-comments span{
    font-weight: 500;
    padding: 0 10px;
}
.single-suggested-video{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.single-suggested-video img{
    width: 100%;
    border-radius: 2px;
}
.single-suggested-video .thumbnail{
    flex-basis: 50%;
}
.single-suggested-video .video-details{
    flex-basis: 49%;
}

/* -----------------------Responsividade do conteúdo da página ---------------------- */
@media (max-width:800px) {
  
   
    .left-part .fas{
        font-size: 20px;
        margin-right: 8px;
        margin-left: 4px;
        
    }
    .left-part .fab{
        font-size: 20px;
        
    }
    .center-part .search-bar{
        width: fit-content;
        margin-left: 5%;
    }
    .center-part .search-bar .search-btn{
        width: 25px;
        font-size: 18px;
        padding: 5px;
    }
    .center-part .mic-icon{
        display: none;
    }
    .right-part i{
        display: none;
    }
    .right-part .fa-user{
        display: block;
        font-size: 20px;
        margin-right: 4px;
    }
    .side-bar{
        height: 100%;
        width: 150px;
    }
    .side-bar .menu-item{
        padding: 2px;   
    }
    .side-bar i{
        font-size: 20px;
        width: 22px;
        padding: 5px;
    }
    .resize-sidebar{
        width: 0;
    }
    .videos-container{
        padding: 3%;
    }
  